<!DOCTYPE html>
<html lang="en">
  <!-- Define Macros -->
  {%- macro script() %}
    <script type="text/javascript" id="documentation_options" data-url_root="{{ pathto('', 1) }}" src="{{ pathto('_static/documentation_options.js', 1) }}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    {%- for js in script_files %}
      {{ js_tag(js) }}
    {%- endfor %}
  {%- endmacro %}

  {%- macro css() %}
    <!-- Pygments CSS -->
    <link rel="stylesheet" href="{{ pathto('_static/pygments.css', 1) }}" type="text/css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom -->
    <link rel="stylesheet" href="{{ pathto('_static/css/theme.css', 1) }}">
  {%- endmacro %}

  <head>

    <!-- Required metatags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Fira sans -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet"> 

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/5721217492.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}"/>

    <!-- Tab title  -->
    {% block htmltitle %}
       <title>{{ title }}</title>
    {% endblock htmltitle %}

    {%- block scripts %}
      {{- script() }}
    {%- endblock %}

    {%- block extrahead %}
    {%- endblock %}

    {%- block css %}
    {{- css() }}
    {%- endblock %}
    
  </head>

  <!-- Navbar -->
  {% include "navbar.html" %}
  <!-- Main body -->
  <div  class="container-fluid eT-background">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-lg-2 sticky-top vh-100 d-none d-lg-block border-right sidebar">
        <div class=" overflow-auto h-100" id="sidebar-link">
          {{toc}}
        </div>
      </div>
      <!-- Page content -->
      <div class="col-lg-8 body-main">
        {% block body %}{% endblock %}
      </div>
    </div>
  </div>
  <!-- Footer -->
  {% include "footer.html" %} 
  
  <!-- Java Script -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- TO GET ANCHORS BELOW NAV -->
  <script type="text/javascript">
    window.addEventListener("hashchange", function() { scrollBy(0, -80) })
  </script>
</html>
